#include <winres.h>
#include <ArrtVersion.h>

IDI_ICON1 ICON DISCARDABLE "Arrt.ico"

VS_VERSION_INFO VERSIONINFO
    FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS 0x1L
#else
    FILEFLAGS 0x0L
#endif
    FILEOS 0x4L
    FILETYPE 0x1L
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000904b0"
        BEGIN
            VALUE "CompanyName", VER_COMPANY
            VALUE "FileDescription", VER_FILE_DESCRIPTION
            VALUE "FileVersion", VER_FILE_VERSION
            VALUE "InternalName", VER_PRODUCTNAME
            VALUE "LegalCopyright", VER_COPYRIGHT
            VALUE "OriginalFilename", VER_ORIGINAL_FILENAME
            VALUE "ProductName", VER_PRODUCTNAME
            VALUE "ProductVersion", VER_PRODUCT_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x9, 1200
    END
END
